html {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #f1faee;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: disc;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
    margin-inline-start: 0em !important;
    margin-inline-end: 0em !important;
    padding-inline-start: 0em !important;
    unicode-bidi: none !important;
}

p {
    display: block;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
    margin-inline-start: 0em !important;
    margin-inline-end: 0em !important;
    padding-inline-start: 0em !important;
    unicode-bidi: none !important;
}

.logo {
    width: 70px;
    height: 70px;
    padding: 15px;
}

/* FONTS */

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}



/* UTILS */

.center-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.light_text {
    color: #F1FAEE;
}

.dark_text {
    color: #1D3557;
}

/* HEADER */
.main-page-top {
    position: relative;
    background: rgb(168, 218, 220);
    background: linear-gradient(180deg, rgba(168, 218, 220, 1) 66%, rgba(241, 250, 238, 1) 100%);
    padding-bottom: 200px;
    max-height: 550px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

/* HEADER BUTTONS */

#login-button {
    font-size: 18px;
    background-color: #457B9D;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 50px;
    margin-right: 20px;
    border: none;
    transition: cubic-bezier(0, 1.15, 0.65, 0.96) 1s;
}

#login-button:hover {
    background-color: #1D3557;
    transition: cubic-bezier(0, 1.15, 0.65, 0.96) 1s;
}

#business-signup-button {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border: solid 1px transparent;
    transition: cubic-bezier(0, 1.15, 0.65, 0.96) 1s;
}

#business-signup-button:hover {
    border: solid 1px #457B9D;
    transition: cubic-bezier(0, 1.15, 0.65, 0.96) 1s;
}

/* LANDING TITLE */
.landing-title {
    text-align: center;
    font-size: 90px;
    width: 50%;
}

/* SEARCH BAR */

.searchBox {
    display: flex;
    width: 700px;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    background: #1D3557;
    border-radius: 35px;
    position: relative;
    -webkit-box-shadow: 0px 0px 21px -2px #898989;
    box-shadow: 0px 0px 21px -2px #898989;
}

.search-line-container {
    display: flex;
    align-items: center;
    justify-content: center;

}




.searchButton {
    color: white;
    position: absolute;
    right: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--gradient-2, linear-gradient(90deg, #A8DADC 0%, #457B9D 100%));
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

/*hover effect*/
button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-3px);
}

/*button pressing effect*/
button:active {
    box-shadow: none;
    transform: translateY(0);
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 18px;
    width: 550px;
    padding: 24px 46px 24px 26px;
}

::placeholder {
    color: #F1FAEE;
    opacity: 0.7;
    /* Firefox */
}

#resultsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}


#resultsContainer .suggest-item {
    width: 100%;
    padding-left: 24px;
    padding-bottom: 10px;
    padding-top: 10px;
}


#resultsContainer .suggest-item:last-child {
    margin-bottom: 20px;
}

#resultsContainer .suggest-item:hover {
    background-color: #457B9D;
    transition: cubic-bezier(0, 1.15, 0.65, 0.96) 1s;
}

#no-results:hover {
    background-color: transparent !important;
}

/* MINIMAPS */

.mini-maps-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mini-maps-wrapper {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mini-map {
    width: 80px;
    height: 80px;
    border: solid 3px #F1FAEE;
    border-radius: 15px;
}

.single-mini-map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: cubic-bezier(0, 1.15, 0.65, 0.96) 1.5s;
}

.mini-map-text {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px
}

.single-mini-map-container:hover {
    background-color: #457B9D;
    transition: cubic-bezier(0, 1.15, 0.65, 0.96) 1.5s;
    margin-bottom: -10px;
    margin-top: -5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
}

.single-mini-map-container-active {
    background-color: #457B9D;
    transition: cubic-bezier(0, 1.15, 0.65, 0.96) 1.5s;
    margin-bottom: -10px;
    margin-top: -5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 21px -2px #1e1e1e;
    box-shadow: 0px 0px 21px -2px #1e1e1e;
    transform: translateY(7px);
}

