html {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #f1faee;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.logo{
    width: 70px;
    height: 70px;
    padding: 15px;
}

.light_text {
    color: #F1FAEE;
}

.dark_text {
    color: #1D3557;
}

.header {
    background-color: #A8DADC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 0px 21px -2px #898989; 
    box-shadow: 0px 0px 21px -2px #898989;
}

.header__left {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

#login-button{
    font-size: 18px;
    background-color: #457B9D;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 50px;
    margin-right: 20px;
    border: none;
}

#login_button:hover {
    background-color: #1D3557;
}